@model IEnumerable<Shamazon.Models.ShoppingCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQuantity)
            </td>
            <td>
                <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | -->
                    <!-- <a asp-action="Details" asp-route-id="@item.Id">Details</a> | -->
                <form asp-action="Remove" asp-route-id="@item.Id" method="post" >
                        <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<p style="">
    <form asp-action="CheckOut" method="post">
        <button type="submit" class="btn btn-primary">Purchase</button>
    </form>
</p>
