@model IEnumerable<Shamazon.Models.ShoppingCart>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemQuantity)
                </td>
            <td>
                <a asp-action="ChangeQuantity" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove from Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
